<section class="body">
    <h3>PAGINA USUARIO</h3>
    <div class="sessao-wrap" >
        <div class="sessao">
            <h3>MINICURSO</h3>
            <button type="submit" class="inscrever" (click)="listarMinicurso()">Inscrever-se</button>
        </div>
        <div class="sessao">
            <h3>PALESTRA</h3>
            <button type="submit" class="inscrever" (click)="listarPalestra()">Inscrever-se</button>
        </div>
        <div class="sessao">
            <h3>EVENTO</h3>
            <button type="submit" class="inscrever" (click)="listarEvento()">Inscrever-se</button>
        </div>
    </div>

</section>
<!-- <section class="body">
    <h3>PAGINA ADMINISTRACAO</h3>
    <div class="sessao-wrap" >
        <div class="sessao">
            <h3>MINICURSO</h3>
            <button type="submit" class="inscrever" (click)="listarMinicurso()">minicurso adm</button>
        </div>
        <div class="sessao">
            <h3>PALESTRA</h3>
            <button type="submit" class="inscrever" (click)="listarPalestra()">palestras adm</button>
        </div>
        <div class="sessao">
            <h3>EVENTO</h3>
            <button type="submit" class="inscrever" (click)="listarEvento()">eventos adm</button>
        </div>
        <div class="sessao">
            <h3>USUARIO</h3>
            <button type="submit" class="inscrever" (click)="listarUsuario()">usuarios adm</button>
        </div>
    </div>

</section> -->