<section class="body">
    <div class="janela">
        <h1>Listar usuario</h1>
        <table *ngIf="usuarios.length != 0, else semUsuario">
            <thead class="linha_header">
                    <th>Nome</th>
                    <th>Email</th>
                    <th>CPF</th>
                    <th>Admin</th>
                    <th>Ações</th>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios;" class="linha_body">
                    <td>{{ usuario.nome }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.cpf }}</td>
                    <td>{{ usuario.admin }}</td>
                    <td class="button_container">
                        <button type="submit" class="edit" (click)="editar(usuario.id)">Alterar</button>
                        <button type="submit" class="remover" (click)="remover(usuario.id)">Deletar</button>
                        <button type="submit" class="promover" (click)="promover(usuario.id)">promover</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <ng-template #semUsuario class="semUsuario">
            <div class="content">
                <h1>SEM USUARIO</h1>
            </div>
        </ng-template>
    </div>
</section>