<section class="body">
    <div class="janela">
        <h1>Listar usuario</h1>

        <table *ngIf="usuarios.length != 0, else semUsuario">
            <thead class="linha_header">
                <th>Nome</th>
                <th>Email</th>
                <th>CPF</th>
                <th>Admin</th>
                <th>Ações</th>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios;" class="linha_body">
                    <td>{{ usuario.nome }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.cpf }}</td>
                    <td *ngIf="usuario.administrador, else naoAdmin">Admin</td>
                    <ng-template #naoAdmin>Usuario</ng-template>
                    <td class="button_container">
                        <button type="submit" class="remover" (click)="remover(usuario.id)">Deletar</button>
                        <button type="submit" class="promover" (click)="promover(usuario.id)">promover</button>
                    </td>
                </tr>
                <div class="container-button">
                    <img src="https://cdn-icons-png.flaticon.com/512/4028/4028647.png" (click)="voltar()"
                        alt="botao para retornar a pagina principal">
                </div>
            </tbody>
        </table>

        <ng-template #semUsuario class="semUsuario">
            <div class="content">
                <h1>SEM USUARIO</h1>
            </div>
            <div class="container-button">
                <img src="https://cdn-icons-png.flaticon.com/512/4028/4028647.png" (click)="voltar()"
                    alt="botao para retornar a pagina principal">
            </div>
        </ng-template>
    </div>
</section>