<section class="body">
    <div class="janela">
        <h1>CADASTRO EVENTO</h1>
        <form action="javascript" [ngClass]="class_validate" [formGroup]="form_dados">
            <div class="form-grid">
                <div class="form-coluna">
                    <div class="form-row">
                        <label for="">NOME EVENTO:</label>
                        <input type="text" class="form-control" id="nome_evento" formControlName="nome_evento" required>
                    </div>
                    <div class="form-row">
                        <label for="nome_responsavel">NOME RESPONSAVEL:</label>
                        <input type="text" class="form-control" id="nome_responsavel" formControlName="nome_responsavel" required>
                    </div>
                    <div class="form-row">
                        <label for="email_responsavel">EMAIL RESPONSAVEL:</label>
                        <input type="text" class="form-control" id="email_responsavel" formControlName="email_responsavel" required>
                    </div>
                    <div class="form-row">
                        <label for="cpf_responsavel">CPF RESPONSAVEL:</label>
                        <input type="text" class="form-control" id="cpf_responsavel" formControlName="cpf_responsavel" required>
                    </div>
                </div>
                <div class="form-coluna">
                    <!-- TODO UTILIZAR O FORMATO DATE E NUMBER -->
                    <div class="form-row">
                        <label for="data_inicio">DATA INICIO:</label>
                        <input type="text" class="form-control" id="data_inicio" formControlName="data_inicio" required>
                    </div>
                    <div class="form-row">
                        <label for="data_fim">DATA FIM:</label>
                        <input type="text" class="form-control" id="data_fim" formControlName="data_fim" required>
                    </div>
                    <div class="form-row">
                        <label for="numero_vagas">N° VAGAS:</label>
                        <input type="text" class="form-control" id="numero_vagas" formControlName="numero_vagas" required>
                    </div>
                    <div class="form-row">
                        <label for="data_inscricao">DATA LIMITE INSCRICAO:</label>
                        <input type="text" class="form-control" id="data_inscricao" formControlName="data_inscricao" required>
                    </div>
                </div>
            </div>
            <div class="formata-centro">
                <label for="descricao">DESCRIÇÃO:</label>
                <textarea class="form-control" id="descricao" formControlName="descricao" required></textarea>
            </div>

            <div class="formata-centro">
                <button type="submit" class="btn-salvar" (click)="salvarEvento()">Salvar</button>
            </div>
            <div class="container-button">
                <img src="https://cdn-icons-png.flaticon.com/512/4028/4028647.png" (click)="voltar()"
                    alt="botao para retornar a pagina principal">
            </div>
        </form>
    </div>
</section>